{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block main %}
	<section class="">
		<div class="container">
			<div class="row text-center">
				<div class="col-lg-12">
					<div class="my-4">
						<form method="post">
							{% if error %}
								<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
							{% endif %}

							{% if app.user %}
								<div class="mb-3">
									You are logged in as
									{{ app.user.userIdentifier }},
									<a href="{{ path('logout') }}">Logout</a>
								</div>
							{% endif %}

							<h1 class="h3 mb-3 font-weight-normal">Connectez-vous</h1>
							<label for="inputEmail" class="mb-2">Email</label>
							<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-4" autocomplete="email" required autofocus>
							<label for="inputPassword" class="mb-2">Mot de passe</label>
							<input type="password" name="password" id="inputPassword" class="form-control mb-4" autocomplete="current-password" required>

							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

							<div class="mb-3">
								<a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié</a>
							</div>

							<div class="checkbox mb-3">
								<label>
									<input type="checkbox" name="_remember_me">
									Se souvenir de moi
								</label>
							</div>

							<button class="btn btn-lg btn-primary" type="submit">
								Connexion
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
