{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent
{% endblock %}

{% block main %}

	<section class="">
		<div class="container">
			<div class="row text-center">
				<h2 class="my-4">Email envoyé !</h2>
				<div class="col-lg-12">
					<div class="mb-4">
						<p>
							If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password. This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
						</p>
						<p>If you don't receive an email please check your spam folder or
							<a href="{{ path('app_forgot_password_request') }}">try again</a>.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
