{% extends 'base.html.twig' %}

{% block title %}Reset your password
{% endblock %}

{% block main %}

	<section class="">
		<div class="container">
			<div class="row text-center">
				<h2 class="my-4">Réinitialiser mon mot de passe</h2>
				<div class="col-lg-12">
                    <p class='mb-4'>Enter your email address, and we will send you a link to reset your password.</p>
					<div class="mb-4">
						{% for flash_error in app.flashes('reset_password_error') %}
							<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
						{% endfor %}

						{{ form_start(requestForm) }}
						{{ form_row(requestForm.email) }}

						<button class="btn btn-primary">Envoyez</button>
						{{ form_end(requestForm) }}
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
