{% extends 'base.html.twig' %}

{% block header %}
	{{ parent() }}
{% endblock %}

{% block main %}
	<section class="">
		<div class="container-fluid">
			<div class="mt-4 row text-center">
				<div class="col-lg-2 sticky-lg-top">
					{{ size < storage ? form(form) : "Vous avez dépassé la limite de stockage de votre abonnement" }}
					<div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
						<div class="progress-bar bg-{{ size > storage ? 'danger' : size > midStorage ? 'warning' : 'success' }}" style="width: {{ pourcent }}%"></div>
					</div>
				</div>
				<div class="col-lg-10">
					<div class="mb-4">
						<div class="row">
							{# Copie #}
							{% if files is not empty %}
								<h2 class="my-4">
									<i class="{{ fileCategory.icon }}"></i>
									{{ fileCategory.name }}
								</h2>

								{% for file in files %}
									<div class="card col-lg-6 mx-3 mb-3" style="width: 19rem;">
										<div class="card-body">
											<h5 class="card-title">{{ file.originalFilename }}</h5>
											<a href="uploads/{{ file.filename }}" class="card-link" download="{{ file.originalFilename }}">
												<i class="fa-solid fa-download me-3"></i>
											</a>
											<a href="{{ path('delete', { id : file.id }) }}" class="">
												<i class="fa-solid fa-xmark ms-3"></i>
											</a>
										</div>
									</div>
								{% endfor %}
							{% endif %}
							{# Copie #}

							{% if pictures is not empty %}
								<h2 class="my-4">
									<i class="{{ pictureCategory.icon }}"></i>
									{{ pictureCategory.name }}
								</h2>

								{% for picture in pictures %}
									<div class="card col-lg-6 mx-3 mb-3" style="width: 19rem;">
										<div class="card-body">
											<h5 class="card-title">{{ picture.originalFilename }}</h5>
											<a href="uploads/{{ picture.filename }}" class="" download="{{ picture.originalFilename }}">
												<i class="fa-solid fa-circle-arrow-down"></i>
											</a>
											<a href="{{ path('delete', { id : picture.id }) }}" class="">
												<i class="fa-solid fa-xmark"></i>
											</a>
										</div>
									</div>
								{% endfor %}
							{% endif %}

							{% if videos is not empty %}
								<h2 class="my-4">
									<i class="{{ videoCategory.icon }}"></i>
									{{ videoCategory.name }}
								</h2>

								{% for video in videos %}
									<div class="card col-lg-6 mx-3 mb-3" style="width: 19rem;">
										<div class="card-body">
											<h5 class="card-title">{{ video.originalFilename }}</h5>
											<a href="uploads/{{ video.filename }}" class="card-link" download="{{ video.originalFilename }}">
												<i class="fa-solid fa-circle-arrow-down"></i>
											</a>
											<a href="{{ path('delete', { id : video.id }) }}" class="">
												<i class="fa-solid fa-xmark"></i>
											</a>
										</div>
									</div>
								{% endfor %}
							{% endif %}

							{% if audios is not empty %}
								<h2 class="my-4">
									<i class="{{ audioCategory.icon }}"></i>
									{{ audioCategory.name }}
								</h2>

								{% for audio in audios %}
									<div class="card col-lg-6 mx-3 mb-3" style="width: 19rem;">
										<div class="card-body">
											<h5 class="card-title">{{ audio.originalFilename }}</h5>
											<a href="uploads/{{ audio.filename }}" class="card-link" download="{{ audio.originalFilename }}">
												<i class="fa-solid fa-circle-arrow-down"></i>
											</a>
											<a href="{{ path('delete', { id : audio.id }) }}" class="">
												<i class="fa-solid fa-xmark"></i>
											</a>
										</div>
									</div>
								{% endfor %}
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
