{% extends 'base.html.twig' %}

{% block header %}
{{ parent() }}
{% endblock %}

{% block main %}
	<section class="">
		<div class="container-fluid">
			<div class="mt-4 row text-center">
				<div class="col-lg-3 sticky-lg-top">
					<div class="border mb-4">
						Side Bar
					</div>
				</div>
				<div class="col-lg-9">
					<div class="border mb-4">
						Contenu
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
