{% extends 'base.html.twig' %}

{% block header %}
	{{ parent() }}
{% endblock %}

{% block main %}
	<section class="bg-img">
		<div class="container">
			<div class="row h-screen justify-content-center align-items-center text-center">
				<h2 class="my-5">Stockify : Où vos fichiers se sentent chez eux.</h2>
				<div class="col-6">
					<div class="">
						<a href="{{ path('app_user_new') }}" class="btn btn-primary">Commencez</a>
					</div>
				</div>
				<div class="col-6">
					<div class="">
						<a href="{{ path('login') }}" class="btn btn-success">Accéder à mon compte</a>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
