{% extends 'base.html.twig' %}

{% block header %}
	{{ parent() }}
{% endblock %}

{% block main %}
	{# <section class="">
			<div class="container hero d-flex align-items-center justify-content-center text-center">
				<div class="row">
					<h2 class="my-4">Stockify : Où vos fichiers se sentent chez eux.</h2>
				</div>
			</div>
		</section> #}

	<section class="">
		<div class="container">
			<div class="row text-center">
				<h2 class="my-5">Stockify : Où vos fichiers se sentent chez eux.</h2>
				<div class="col-6">
					<div class="mb-4">
						<a href="{{ path('app_user_new') }}" class="btn btn-primary">Commencez</a>
					</div>
				</div>
				<div class="col-6">
					<div class="mb-4">
						<a href="{{ path('login') }}" class="btn btn-success">Accéder à mon compte</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	{# <section class="">
		<div class="container">
			<div class="row text-center">
				<h2 class="my-4">Titre</h2>
				<div class="col-lg-6">
					<div class="border mb-4">
						Contenu
					</div>
				</div>
				<div class="col-lg-6">
					<div class="border mb-4">
						Contenu
					</div>
				</div>
			</div>
		</div>
	</section> #}
{% endblock %}
