{% extends 'base.html.twig' %}

{% block title %}Edit User
{% endblock %}

{% block main %}

    {{ form_start(form) }}
	<section class="">
		<div class="container">
			<div class="row h-screen justify-content-center align-items-center text-center">
				<h2 class="my-4">Modifier mon profil</h2>
				{{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}
				<div class="col-6">
					{{ include('user/_delete_form.html.twig') }}
				</div>
			</div>
		</div>
	</section>
    {{ form_end(form) }}

{% endblock %}
