{% extends 'base.html.twig' %}

{% block title %}New User
{% endblock %}

{% block main %}
    {{ form_start(form) }}
	<section class="">
		<div class="container">
			<div class="row h-screen justify-content-center align-items-center text-center">
				<h2 class="my-4">Inscrivez-vous</h2>
				{{ include('user/_form.html.twig') }}
			</div>
		</div>
	</section>
    {{ form_end(form) }}
{% endblock %}
