{% extends 'base.html.twig' %}

{% block title %}Profil
{% endblock %}

{% block main %}


	<section class="">
		<div class="container">
			<div class="row text-center">
				<h2 class="my-4">Profil</h2>
				<div class="col-lg-12">
					<div class="mb-4">
						<table class="table">
							<tbody>
								<tr>
									<th class="col-6 border">Prénom</th>
									<td class="col-6 border">{{ user.firstName }}</td>
								</tr>
								<tr>
									<th class="col-6 border">Nom</th>
									<td class="col-6 border">{{ user.lastName }}</td>
								</tr>
								<tr>
									<th class="col-6 border">Email</th>
									<td class="col-6 border">{{ user.email }}</td>
								</tr>
							</tbody>
						</table>
						{{ include('user/_delete_form.html.twig') }}
					</div>
				</div>
			</div>
		</div>
	</section>

	{# <a href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier mon profil</a> #}

{% endblock %}
